<%= for item <- values do %>
  <%= if is_tuple(item) do %>
    <% {name, value} = item %>
    <<%= name %>><%= Dispenser.get_value(value) %></<%= name %>>
  <% else %>
    <%= item |> IO.inspect |> Dispenser.get_value %>
  <% end %>  
<% end %>
